.video-item {
    display: flex !important;
    align-items: center !important;
    cursor: pointer;
}

.video-item.item {
    max-width: 200px;
    max-height: 250px ;
}

.image{
    max-width: 200px;
    max-height: 250px ;
}
.header{
color: white;
font-size: x-large;
font-style:italic;
}
