.NavbarItems {
background: transparent;
height: 60px;
margin:auto;
}
ul{
	float:right;
	margin-top:25px;
	list-style-type:none;
}
ul li{
	display:inline-block;
}
ul li a{
	color:#fff;
	padding: 5px 20px;
	border: 1px solid transparent;
	text-decoration:none;
	transition:0.6s ease;
}
ul li a:hover{
	background-color:#fff;
	color:#000;
}
ul li.act a{
     background-color:#fff;
    color:#000;	
}
